# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Helm secrets
values.secret.yaml

# Environment files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
frontend/build/

# AWS
.aws/
aws/
credentials

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
